[user]
	name = Cory Francis Myers
	signingkey = 0x0F786C3435E961244B69B9EC07AD35D378D10BA0
[commit]
	gpgSign = true
	verbose = true
[pull]
	rebase = true
[log]
	showsignature = true
[alias]
	frd = log --reverse develop..HEAD
	frm = log --reverse main..HEAD
	ll = log --stat
	whereami = log -1 --oneline --no-show-signature
